@charset 'UTF-8';

header {
    display: flex;
    align-items: center; /* Centraliza os itens verticalmente */
    background-color: #f1f1f1;
    padding: 10px;
}


header div.oi {
    background-color: #722828;
    padding: 10px;
    color: #722828;
}
button {
    background-color: #722828;
    border: none;
}

header div {
    background-color: #f7c4c4;
    
    
}
header div:not(.oi) {
    margin-left: auto;
}
